AfricastalkingGateway==1.9
boto==2.48.0
certifi==2017.11.5
chardet==3.0.4
croniter==0.3.20
cssselect==1.0.1
cssutils==1.0.2
Django==1.10
django-appconf==1.0.1
django-compressor==2.1
django-ses-backend==0.1.1
djmail==0.11.0
futures==3.0.3
gunicorn==19.7.1
idna==2.6
lxml==4.6.5
premailer==2.9.6
requests==2.9.1
psycopg2==2.7.3.2
python-dateutil==2.6.1
pytz==2017.3
rcssmin==1.0.6
requests==2.18.4
rjsmin==1.0.12
six==1.11.0
urllib3==1.22
