.page-welcome .navbar {
    margin-bottom: 0;
}

.index-bleed {
    background: #FFF;
    padding-bottom: 2em;
}

.get-started-bleed {
    background: #e5ece5;
    padding-bottom: 3em;
}

.footer-jumbo-bleed {
    background: #eee;
}


#pitch {
    text-align: center;
    padding: 30px 0;
    margin: 0;
}

#pitch-subtitle {
    margin-top: 0;
    text-align: center;
}

#pitch-url {
    text-align: center;
    font-family: monospace;
    margin: 10px auto;
}

#pitch-url-input {
    text-align: center;
    background: #FFF;
    border: 0;
    box-shadow: none;
    cursor: text;
}

#pitch-text {
    margin: 0 auto 72px auto;
}

.nav-tabs {
    margin-bottom: 0;
}

.page-welcome .highlight pre {
    background: #FFF;
    border-top: 0;
    border-radius: 0;
    border-color: #dddddd;
}

#email .instructions {
    background: #FFF;
    border: 1px solid #dddddd;
    border-top: 0;
    padding: 10px;
}

#email .email-address {
    font-size: 18px;
    padding-top: 10px;
}


#get-started {
    margin-top: 4em;
}

.tour-title {
    margin: 50px 0;
}


.tour-section {
    margin-bottom: 50px;
}

.welcome-integrations img {
    width: 22px;
    height: 22px;
}

.cron-services .col-sm-4{
    margin-top: 10px;
}

.cron-services{
    background: #EEEEEE;
    background: -webkit-linear-gradient(#FFFFFF,#EEEEEE); /*Safari 5.1-6*/
    background: -o-linear-gradient(#FFFFFF,#EEEEEE); /*Opera 11.1-12*/
    background: -moz-linear-gradient(#FFFFFF,#EEEEEE); /*Fx 3.6-15*/
    background: linear-gradient( #FFFFFF, #EEEEEE); /*Standard*/
}
.carousel-inner>.item>img{
    width: 100%;
    height: 450px;
}
.cron-teams{
    background: #868585;

}

.cron-teams .col-sm-4{
    margin-top: 40px;
}
#team-alerts-head{
    color: #000000;
}

#grad {
    background: #868585; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#EEEEEE,#2c2c2c); /*Safari 5.1-6*/
    background: -o-linear-gradient(#EEEEEE,#2c2c2c); /*Opera 11.1-12*/
    background: -moz-linear-gradient(#EEEEEE,#2c2c2c); /*Fx 3.6-15*/
    background: linear-gradient( #EEEEEE, #2c2c2c); /*Standard*/
  }

 .index-bleed{
      padding-bottom: 0;
  }

  /* footer{
      background: #fffefe
  } */