{% extends 'base.html' %}
{% block title %}Welcome to the HealthChecks Blog{% endblock %}

{% block content %}
    <h1>Welcome to the HealthChecks Blog</h1>
    <h2>Categories</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newCategory">
        Add a New Category
      </button>
      <div class="modal" tabindex="-1" role="dialog" id="newCategory">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create a new Category</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form method="POST" action=".">
                    {% csrf_token %}
                    {{form}}
                    <button type="submit" class="btn btn-secondary">Add Category</button>
                </form>              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    {% if categories %}
        <ul>
        {% for category in categories %}
            <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no posts.</p>
    {% endif %}

    <h2>Posts</h2>
    <a class="btn btn-primary" href="{% url 'create_blog_post' %}">Create a New Blog Post</a>    
    {% if posts %}
        <ul>
        {% for post in posts %}
            <li>
                <a href="{{ post.get_absolute_url }}">{{ post.title }} Comments: {{ post.comments.count }}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no posts.</p>
    {% endif %}
    
{% endblock %}